<nav class="navbar">
  <div class="container">
    <div class="nav-items">
      <a class="nav-item" routerLink="" routerLinkActive='active'>Main Empty Page</a>
      <a class="nav-item" routerLink="/addForm" routerLinkActive='active'>Add Worker</a>
      <a class="nav-item" routerLink="/listEmployeesEmployers" routerLinkActive='active'>List employees/employers</a>
    </div>
  </div>
</nav>

<div class="container">
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</div>
