@import '../../../globalScssVariables';


.filtrInput ::ng-deep .mat-form-field-underline .mat-form-field-ripple, .filtrInput ::ng-deep .mat-form-field-underline, #myTable::-webkit-scrollbar {

  background: $content-color;


}
.spanClass//expand span to fill td
{
  line-height: 200%;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
//FILTER
.filtrInput {
  border-radius: 5%;
  background: $content-color;
  color: $black;
  left: 35%;
  padding: 5px;
  top: 10%;
  position: absolute;
  width: 200px;
  border: 2px solid black;

}

input ::ng-deep {
  font-size: 30px;
  background: $content-color;
}

//////////////////
// MAIN TABLE STYLE
#myTable {
  border: 1px solid $black;
  position: absolute;
  left: 20%;
  top: 30%;
  width: 70%;
  height: 60%;
  overflow-y: scroll;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

}

#myTableContent {
  background: $content-color;
  width: 100%;
}

#myTableBackground {
  position: absolute;
  width: 100%;
  height: 101%; //always do overflow
  background: $content-color;
}

.mat-row td {
  color: $black;
  position: relative;
  text-align: center;
}

.mat-row:hover {
  font-weight: bold;
  cursor: pointer;
}

::ng-deep th.mat-header-cell::ng-deep {
  background: $salmon !important;
  color: $content-color !important;
  font-size: 1rem !important;
}

th.mat-sort-header-sorted, ::ng-deep .mat-sort-header-sorted {
  color: $blue;
}

// SCROLLBAR
#myTable::-webkit-scrollbar-thumb {
  background: $salmon;
}



